
<div class="content" role="main">
  <h2>Routing Explanation</h2>
  <p>Here are some links to understand how routing works.</p>
  <div class="card-container">
   <a class="card" routerLink="/home" >
     <span> Go to home </span>
     <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
   </a>
   <a class="card" routerLink="/about">
     <span> About Us </span>
     <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
   </a>
   <a class="card" routerLink="/faqs" >
     <span> FAQs </span>
     <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
   </a>
  </div>
  </div>

<router-outlet></router-outlet>
